### OS ###

# Linux #
*~

# MacOS #
.DS_Store

### IDEs ###

# IntelliJ
.idea
.idea_modules

# VSCode
.vscode

### Scala ###

# SBT
target

# Metals
.metals
metals.sbt

# BSP
.bsp
project/project

# Bloop
.bloop

# Java
*.class
*.log

# nix
result